<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>     
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
         <!-- http://getbootstrap.com/docs/5.1/ -->
        <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
        <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"></script>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
             integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
             crossorigin=""/>
             
        <!-- Make sure you put this AFTER Leaflet's CSS -->
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
        <script src="https://rubenholthuijsen.nl/geolet/geolet.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        
    </head>
    <body>
        <nav class="bg-light border navbar navbar-expand-md navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"></span><span class="red">RestaurantRecommender</span></a>
                <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    {% if session["user_id"] %}
                    <ul class="navbar-nav ms-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/start">Add Restaurant</a></li>
                        <li class="nav-item"><a class="nav-link">{{session["username"]}}</a></li>
                        <li class="nav-item"><a class="nav-link" href="/friends">Friends</a></li>
                        <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                        
                        
                    </ul>
                    {% else %}
                    <ul class="navbar-nav ms-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                        <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </nav>
        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary mb-0 text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}

        {% if rendermap %}
        <body>
            <div class="kaart">
                <div id="map" style="width: {% if add %}75%{% else %}100%{% endif %};"></div>
            </div>
        </body>
        {% endif %}
        
        <main class="cent">
            {% block main %}{% endblock %}
        </main>
    </body>
</html>
<script>
    // map init
    
    var map = L.map('map').setView([52.369709, 4.9030611], 13);

    var osm = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
        layers: [osm]
    }).addTo(map);

    const redIcon = new L.Icon({
    iconUrl:
    "https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png",
    shadowUrl:
    "https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png",
    iconSize: [25, 41],
    iconAnchor: [12, 41],
    popupAnchor: [1, -34],
    shadowSize: [41, 41]
    });
    
    {% if rendermap %}

    const You = L.layerGroup();

    {% for marker in markers %}
    var marker = L.marker([{{marker.horizontal}}, {{marker.vertical}}]).addTo(map).addTo(You).bindPopup('<iframe src="/restaurant/{{marker.id}}"></iframe>');
    {% endfor %}


    {% for friend in friends %}
    const {{friend.friend}} = L.layerGroup();
    {% endfor %}

    {% for marker in fmarkers %}
    var marker = L.marker([{{marker.horizontal}}, {{marker.vertical}}], {
        icon: redIcon
    }).addTo(map).addTo({{marker.placedby}}).bindPopup('<iframe src="/restaurant/{{marker.id}}"></iframe>');
    {% endfor %}

    const overlays = {};
    const layerControl = L.control.layers(overlays).addTo(map);

    layerControl.addOverlay(You, 'You');
    {% for friend in friends %}
    layerControl.addOverlay({{friend.friend}}, '{{friend.friend}}');
    {% endfor %}
    {% endif %}
    
    {% block location %}
    {% endblock %}
    
    
    function checkCheckboxesByClass(className) {
        var checkboxes = document.getElementsByClassName(className);

        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = true;
        }
    }
    
    checkCheckboxesByClass('leaflet-control-layers-selector');
    
    L.geolet({
        position: 'topleft'
    }).addTo(map);  

    
</script>

